body {     /*sets the backgound to black and text font to segoe */
    background-color: black;  
    font-family: Arial;
    color: white;

}
/*Navbar ------> */


.socials {    
    overflow: hidden;
    background-color: #ddd;
    color: black;
    padding-left: 2%;
    padding-right: 1%;
}

.socials p {
    float: left;
    margin: 0;
    padding: 8px;

}

.socials img {
    float: right;
    padding: 5px;
}


.navi {  
    background-color: rgb(24, 24, 24);
    overflow: hidden;
}
  
.links a {    
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    font-size: 18px;
}
   
.links a:hover {     
    background-color: #ddd;
    color: black;
    opacity: 70%;
}
  
.navi a.active {    
    background-color: rgb(232, 232, 232);
    color: black;
    
}

.navleft {
    padding-left: 2%;
}

.navleft img {
  overflow: hidden;
  text-align: center;
  float: left;
  text-decoration: none;
  padding: 5px;
  padding-right: 1%;
}

.navleft p {
    overflow: hidden;
    float: left;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 5px;
}
